html,
body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}
#navbar {
  z-index: 1;
  position: fixed;
}

#userprojects {
  height: inherit;
  width: inherit;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
#workspace {
  height: inherit;
  position: absolute;
  width: inherit;
}
#workspace-items-container {
  position: relative;
}
.user.right-side {
  display: flex;
  flex-direction: column;
}
.workspace-list {
  display: flex;
}
.card-item {
  height: 36px;
  width: 91%;
  border: 1px solid gray;
  border-radius: 3px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.card-content {
  margin-left: 7.5px;
  margin-right: 7.5px;
  font-size: 17.5px;
}
.wsp-title {
  font-size: 22px;
  padding: 10px;
  margin-left: 10px;
}
.wsp-list-item {
  min-width: 250px;
  max-height: 100%;
  list-style-type: none;
  margin-left: 10px;
  border: 1.5px solid black;
  border-radius: 3px;
}
.projects.middle-tiles {
  display: flex;
  width: 100vw;
  height: 75%;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 30px;
}

.top-navbar {
  display: flex;
  height: 40px;
  padding: 10px;
}
.list-item {
  height: 45px;
  width: 225px;
  border: 0.75px solid black;
  border-radius: 2.5px;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
  background: white;
}
.project-list-title {
  height: 100%;
  font-size: 16px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}
.sidebar-wrapper {
  height: 75vh;
  display: flex;
  width: 250px;
  background: #8fc2ea52;
  border: 0.75px solid black;
  border-radius: 4px;
  padding: 0;
  margin-top: -7.5px;
  z-index: 1;
}
.sidebar-list {
  overflow: auto;
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar-btn {
  height: 37.5px;
  width: 77.5px;
  border: 2px outset #9bcff9;
}
.navbar-btn:hover {
  border: 2px inset white;
  background-color: #9bcff9;
}

.create-project.form {
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 6px;
  height: 110px;
  width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav.wrapper {
  display: flex;
  justify-content: space-between;
}
.form.wrapper {
  z-index: 2;
  border-radius: 2px;
}
.project-list.wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  background: inherit;
}
.project-tiles.container {
  width: 80%;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-y: auto;
}

.project-tile {
  height: 95px;
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 1.5% 8px 0;
  border-radius: 6.5px;
  border: 1.725px outset black;
  background: white;
}
.project-title {
  padding: 10px 0 0 10px;
  font-size: 2em;
  font-weight: bold;
  color: #1a232b;
  height: inherit;
  width: inherit;
}
.c-p.input-box {
  height: 30px;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
}
.form-submit {
  margin-right: 110px;
}

.new-project-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project-list-item {
  height: inherit;
  width: inherit;
}

.project-workspace-control {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-right: 100px;
  margin-left: 240px;
}
.pwc-title-top {
  font-size: 75px;
}
.pwc-title-bottom {
  display: flex;
  justify-content: space-around;
}
.pwc-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pwc-desc {
  font-size: 24px;
}
.pwc-nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
}
.toolbar-btn.form-submit {
  margin: -10px 50px 0 0;
  background: none;
  color: white;
  font-size: 18px;
  border: 2px outset white;
}
.toolbar-btn.form-submit:hover {
  border: 2px inset white;
}
.item-form {
  padding-top: 25px;
  margin: -10.5px -10.5px -10.5px -19px;
}
.n-w.form-input {
  height: 36px;
  font-size: 15.5px;
  width: 97.5%;
}
.n-w.form-input:hover {
  border: 1.5px inset black;
}
.n-w.form-submit {
  height: 36px;
  width: 100%;
}
.n-w.form-submit:hover {
  height: 36px;
  width: 100%;
  border-radius: 3.5px;
  background-color: #9bcff9;
}
