html,
body {
  margin: 0;
  padding: 0;
}

.user-projects.full-page {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.user.right-side {
  display: flex;
  flex-direction: column;
}

.projects.middle-tiles {
  display: flex;
  width: 100vw;
  height: 75%;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
}

.top-toolbar {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding: 15px;
}
.list-item {
  height: 45px;
  width: 225px;
  border: 0.75px solid black;
  border-radius: 2.5px;
  margin-top: 5.5px;
  margin-bottom: 5.5px;
  background: white;
}
.project-list-title {
  height: 100%;
  font-size: 16px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
}
.project-list {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background: #8fc2ea52;
  border: 0.75px solid black;
  border-radius: 4px;
  padding: 15px 0 15px 0;
  z-index: 1;
}

.toolbar-btn {
  height: 37.5px;
  width: 77.5px;
  border: 2px outset #d3e4eb;
}
.toolbar-btn:hover {
  border: 2px inset white;
  background-color: #d3e4eb;
}

.create-project.form {
  background-color: black;
  color: white;
  border: 3px solid white;
  border-radius: 6px;
  height: 110px;
  width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tool.wrapper {
  display: flex;
  justify-content: space-between;
}
.form.wrapper {
  z-index: 2;
  border-radius: 2px;
}
.project-list.wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  background: inherit;
}
.project-tiles.container {
  width: 82.5%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.project.tile {
  height: 95px;
  display: flex;
  width: 23%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0 1.5% 8px 0;
  border-radius: 6px;
  border: 0.75px solid black;
  background: white;
}
.project-title {
  padding: 10px 0 0 10px;
  font-size: 2em;
  font-weight: bold;
  color: #1a232b;
}
.c-p.input-box {
  height: 30px;
  font-size: 18px;
  border-radius: 3px;
  text-align: center;
}
.form-submit {
  margin-right: 110px;
}
